.card {
    max-width: 400px;
    margin-top: 5px;
    align-self: center;
    text-align: center;
    margin: 0% 2%;

  }
  
.header-image {
    background-size: cover;
}
.title{
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}
.Container{
    margin: 0% 40%;
}
.priceIcon{
    cursor: pointer;
    color: green;
}
p{
 margin:0%;   
}
.list{
    margin: 0%;
}
/*
.icons{
    margin: 0%;
    padding: 0%;
}*/