.navBar{
    width: 80%;
    height:55px;
    background-color: #181818;
    border: 2px;
    border-color: white;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
}
.btn{
    width: 9%; 
    height: 35px;   
    color: azure;
    border-color: white; 
    border-radius: 10px;
    margin-left: 2%;
    background-color: transparent;
    box-shadow:0px 0px 4px 4px #3EC70B;

}
.btn:hover{
    background-color: #F1F1F1;
    border-color:white ;
    color: black;
}
.NavContainer{
    text-align: center;
}
.icons{
    width: 1em;
    height: 2em;
    font-size: 20px;

}