<header>
    <div class="NavContainer" >
        <mat-toolbar class="navBar">
            
            <button class="btn"  routerLink="/ListBeer">
                <p>ListBeers
                    <mat-icon class="icons" matSuffix> list </mat-icon>
                </p>
            </button>

            <button class="btn"  routerLink="/SaleReport">
                <p>Reports
                    <mat-icon class="icons " matSuffix> receipt_long </mat-icon>
                </p>
            </button>

            <button class="btn" routerLink="/Render">
                <p>Beerss
                    <mat-icon class="icons" matSuffix>liquor </mat-icon>
                </p>
            </button>

        </mat-toolbar>
    </div>
</header>